body{
    background: #fff;
}

.title{
    text-transform: uppercase;
}

main{
    width: 50%;
    margin: auto;
    text-align: center;
}

.botaoCadastrarNovoCliente{
    float: left;
}

.botaoSalvarNovoCliente{
    float: right;
}





