<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes - Formulario de Cadastro</title>
</head>
    <body>
        <h1>Cadastro de Filmes</h1>
        <form action="/filme/salvar" method="post">
            <input type="hidden" name="id" id="id" th:value="${filme.id}">
            Titulo: <input type="text" name="titulo" id="titulo" th:value="${filme.titulo}"> <br />
            Diretor: <input type="text" name="diretor" id="diretor" th:value="${filme.diretor}"> <br />
            Genero: <input type="text" name="genero" id="genero" th:value="${filme.genero}"> <br />
            <input type="submit" value="Salvar">
        </form>
        <br />
        <a href="/filme">Voltar para a lista de Filmes</a> <br />
    </body>
</html>